<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.hw.vo.User" alias="user" />
		<typeAlias type="com.hw.vo.Login" alias="login" />
		<typeAlias type="com.hw.vo.Data" alias="data" />
	</typeAliases>

	<mappers>
		<mapper resource="com/config/usermapper.xml" />
		<mapper resource="com/config/loginmapper.xml" />
		<mapper resource="com/config/datamapper.xml" /> 
	</mappers>



</configuration>